{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container push-down">
        <div class="row">
            <div class="col">
                <p>Over 120 retro and modern sweets and treats available to buy online</p>
                <p>
                    Excellent
                    <i class="fas fa-star mr-1"></i>
                    <i class="fas fa-star mr-1"></i>
                    <i class="fas fa-star mr-1"></i>
                    <i class="fas fa-star mr-1"></i>
                    <i class="fas fa-star mr-1"></i>
                    Based on 10,000 Reviews 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 home-left my-auto">
                <div>
                    <h4><a href="{% url 'products' %}" class="btn py-3">View All Products</a></h4>
                </div>
            </div>
            <div class="col-6 home-right my-auto">
                <div>
                    <p>Over 120 retro and modern sweets and treats available to buy online</p>
                    <h4>
                        <a href="{% url 'products' %}" class="btn py-3">View All Products</a>
                    </h4>
                    <p>
                        Excellent
                        <i class="fas fa-star mr-1"></i>
                        <i class="fas fa-star mr-1"></i>
                        <i class="fas fa-star mr-1"></i>
                        <i class="fas fa-star mr-1"></i>
                        <i class="fas fa-star mr-1"></i>
                        Based on 10,000 Reviews 
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <h2>Have a look at some fan favourites</h2>
            <div class="col-2 placeholder"></div>
            <div class="col-2 placeholder"></div>
            <div class="col-2 placeholder"></div>
            <div class="col-2 placeholder"></div>
            <div class="col-2 placeholder"></div>
            <div class="col-2 placeholder"></div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Barrat.webp" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Cadbury.webp" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Haribo.webp" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Hershey.webp" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Jelly_Belly.webp" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Kinder.webp" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Maoam.webp" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Nestle.webp" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Reese.webp" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Swizzels.webp" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Warheads.webp" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Wonka.webp" alt=""></div>
        </div>
    </div>
{% endblock %}
