{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container-md push-down">
        <!-- Main Content -->
        <div class="row">
            <div class="col main-banner">
                <h2 class="home-heading">Over 120+ retro and modern sweets and treats available to buy online</h2>
            </div>
        </div>
        <!-- Featured Navigation -->
        <div class="row">
            <div class="col-12">
                <div class="home-main">
                    <h2 class="hero-heading">All your favorites</h2>
                    <p class="hero-body">Retro, Fizzy, Jelly, Gummy, Chocolate plus so much more !</p>
                    <a href="{% url 'products' %}" class="action-button">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="home-left">
                    <h2 class="hero-heading">Sweets</h2>
                    <p class="hero-body">Whatever you fancy</p>
                    <a href="{% url 'products' %}" class="action-button">Sweets</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="home-right">
                    <h2 class="hero-heading">Chocolate !</h2>
                    <p class="hero-body">It's all about the choc</p>
                    <a href="{% url 'products' %}?category=chocolate" class="action-button">Chocolate</a>
                </div>
            </div>
        </div>

        <!-- Featured Products -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="home-heading">Some of our favorites...</h2>
                    <div class="main-carousel" data-flickity='{ "wrapAround": true, "imagesLoaded": true }'>
                        {% for product in products %}
                        <div class="card-group col-sm-6 col-md-4 col-lg-3 col-xl-2 bg-white">
                            <div class="card card-featured h-100">
                                <div class="card-img-top flex-fill">
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                </div>
                                <div class="card-footer bg-white">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text mb-0">{{ product.name }}</p>
                                            <p class="mb-0 text-start fw-bold">£{{ product.price }}</p>
                                            {% if product.rating %}
                                                <p><i class="fas fa-star mr-1"></i> {{ product.rating }} / 5.00</p>
                                            {% else %}
                                                <p>No Rating</p>
                                            {% endif %}

                                            {% if request.user.is_superuser %}
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="delete-button">
                                                            <a href="{% url 'delete_product' product.id %}">Delete</a>
                                                        </button>
                                                    </div>
                                                    <div class="col-6">
                                                        <button class="edit-button">
                                                            <a href="{% url 'modify_product' product.id %}">Edit</a>
                                                        </button>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h2 class="home-heading">Shop by Brand...</h2>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 logo-container">
                <a href="{% url 'products' %}?brand=Haribo">
                    <img class="logo" src="/media/Logo_Barrat.webp" alt="">
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 logo-container">
                <a href="">
                    <img class="logo" src="/media/Logo_Cadbury.webp" alt="">
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Haribo.webp" alt=""></div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Hershey.webp" alt=""></div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Jelly_Belly.webp" alt=""></div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Kinder.webp" alt=""></div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Maoam.webp" alt=""></div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Nestle.webp" alt=""></div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Reese.webp" alt=""></div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Swizzels.webp" alt=""></div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Warheads.webp" alt=""></div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 logo-container"><img class="logo" src="/media/Logo_Wonka.webp" alt=""></div>
        </div>

        <div class="row">
            <div class="col">
                <h2 class="home-heading">Sign up for our newsletter...</h2>
            </div>
        </div>
    </div>
{% endblock %}

<script>
    $(document).ready(function(){
      // Activate Carousel with a specified interval
      $("#myCarousel").carousel({interval: 500});
            
      // Enable Carousel Indicators
      $(".item1").click(function(){
        $("#myCarousel").carousel(0);
      });
      $(".item2").click(function(){
        $("#myCarousel").carousel(1);
      });
      $(".item3").click(function(){
        $("#myCarousel").carousel(2);
      });
        
      // Enable Carousel Controls
      $(".carousel-control-prev").click(function(){
        $("#myCarousel").carousel("prev");
      });
      $(".carousel-control-next").click(function(){
        $("#myCarousel").carousel("next");
      });
    });
</script>
