.navigation-menu {
    border-top: 1px solid black;
    background-color: #f4768a;
}

.navigation-text {
    color: #fff;
    margin: 0px 30px;
    font-weight: 600;
    font-size: large;
}

.navigation-text-mobile {
    color: #fff;
}

.pink {
    color: #f4768a;
    font-style: italic;
}

.push-down{
    margin-top: 140px;
}

.top-navigation {
    background-color: white;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.message-container{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999;
}

.shopping-bag-wrapper {
    overflow-x: hidden;
    overflow-y: auto;    
}

.btn {
    background-color: #f4768a;
    color: black;
}

@media only screen and (max-width: 1006px) {
    .push-down{
        margin-top: 64px;
    }
  }