.carousel-inner {
    border: 1px solid red;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 5px;
}

.cover {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* Navigation */
.title {
    font-family: Permanent Marker;
}

.navbar{
    border-bottom: 1px solid black;
    background-image: linear-gradient(to right top, #ffc6cf, #feb3be, #fb9fad, #f88b9c, #f4768a);
}

.navigation-menu {
    border-top: 1px solid black;
    background-color: #f4768a;
}

.navigation-text {
    color: #fff;
    margin: 0px 30px;
    font-weight: 600;
    font-size: large;
}

.navigation-text-mobile {
    color: #fff;
}

.navbar-toggler {
    margin-left: 10px;
    padding: 4px;
    border: none;
}

.top-navigation {
    background-color: white;
}

.input-group {
    margin-left: 8px;
    background: none;
    border: none;
}

/* Home */

.main-banner {
    margin: 10px;
    border: 1px solid black;
    text-align: center;
}

.home-heading {
    font-family: Permanent Marker;
    color: #f4768a;
    font-size: 1.5rem;
    text-align: center;
}

.home-action {
    width: 100px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
}

.home-main {
    background-image: linear-gradient(to right top, #c97569, #d3685b, #db594c, #e2483e, #e93030);
}

.home-left {
    background-image: linear-gradient(to right top, #ffecef, #ffe5e9, #ffdee3, #ffd7dd, #ffd0d7);
}

.home-right {
    background-image: linear-gradient(to right top, #986627, #885e2f, #785735, #67503a, #55493f);
    color: white;
}

.home-main,
.home-left,
.home-right {
    border: 1px solid black;
    min-height: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.logo-container {
    text-align: center;
    padding: 10px;
}

.placeholder {
    border: 1px solid black;
    min-height: 100px;
    min-width: 100%;
}

/* Cards */

.card-body {
    margin: 8px 8px 2px 8px;
    padding: 4px;
}

.product-image {
    max-height: 209px;
}

.price {
    margin: 4px 0px;
    font-size: 1rem;
}

.label {
    font-size: 0.9 rem;
}

/* Forms */

.form {
    margin-top: 145px;
}

label {
    margin-top: 4px;
}

hr {
    margin: 8px 0;
}

.login-button,
.register {
    width: 100%;
    margin: 16px 0 8px 0;
    background-color: #f4768a;
    border-radius: 6px;
    border: none;
    padding: 8px;
    color: white;
}

#id_email,
#id_email2,
#id_username,
#id_password1,
#id_password2 {
    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #f3b4bf;
}

#div_id_login {
    margin: 8px 0;
}

p {
    margin-bottom: 0;
}

#search-bar{
    margin-top: 8px !important;
    left: 0;
    margin-left: 0;
}

.dropdown-menu {
    width: 96% !important;
    margin-left: 2%;
    border: 1px solid black !important;
    left: 0;
}

.pink {
    color: #f4768a;
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: wavy;
}

.push-down{
    margin-top: 140px;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.message-container{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999;
}

.shopping-bag-wrapper {
    overflow-x: hidden;
    overflow-y: auto;    
}

.btn {
    background-image: linear-gradient(to right top, #c593f9, #df86df, #ef7cc2, #f577a6, #f4768a);
    width: 180px;
    padding: 10px;
    border-radius: 23px;
    border: none;
    color: white;
}

@media only screen and (max-width: 992px) {
    .push-down{
        margin-top: 64px;
    }
}