<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link navigation-text" href="#" id="all-sweets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Sweets
            </a>
            <div class="dropdown-menu" aria-labelledby="all-sweets-link">
                <a href="" class="dropdown-item">Sweets</a>
                <a href="" class="dropdown-item">Chocolate</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link navigation-text" href="#" id="sweet-color-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sweets By Colour
            </a>
            <div class="dropdown-menu" aria-labelledby="sweet-color-link">
                <a href="" class="dropdown-item">Black</a>
                <a href="" class="dropdown-item">Blue</a>
                <a href="" class="dropdown-item">Red</a>
                <a href="" class="dropdown-item">Green</a>
                <a href="" class="dropdown-item">Red</a>
                <a href="" class="dropdown-item">Pink</a>
                <a href="" class="dropdown-item">Yellow</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link navigation-text" href="#" id="sweet-flavour-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sweets By Flavour
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sweet-flavour-link">
                <a href="" class="dropdown-item">Apple</a>
                <a href="" class="dropdown-item">Lemon</a>
                <a href="" class="dropdown-item">Lime</a>
                <a href="" class="dropdown-item">Cola</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link navigation-text" href="#" id="sweet-manufacturer-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sweets By Brand
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sweet-manufacturer-link">
                <a href="" class="dropdown-item">Haribo</a>
                <a href="" class="dropdown-item">Maynards Bassetts</a>
                <a href="" class="dropdown-item">Rowntrees</a>
                <a href="" class="dropdown-item">Skittles</a>
                <a href="" class="dropdown-item">Drumsticks</a>
                <a href="" class="dropdown-item">Barratt</a>
            </div>
        </li>
    </ul>
</div>